$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background-color: #FAFAFA;
$form-background: #F9F9F9;
$border-line: #E1E1E1;
$text: #212529;

/* --- Public styles --- */
a {
    color: $primary-color;

    &:hover, &:focus, &:active {
      color: $secondary-color;
    }
}