/* --- Public styles --- */
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background-color: #FAFAFA;
$form-background: #F9F9F9;
$border-line: #E1E1E1;
$text: #212529;

#public {
  a {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:focus, &:active {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}