/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;

/* ---  Portait Mobile --- */
.beta-nav  {
    clear: left;
    float: left;
    height: 620px;
    text-align: center;
    width: 100px;

    .btn {
        display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 5% 5% 5% 5% 5%;
        font-size: 2em;
        height: 40px;
        margin: 28px;
        width: 40px;
    }

    a {
        position: relative; 
    }

    svg {
        align-content: center;
        color: $primary-color;
        position: absolute;
            left: 50%;
            top: 50%; 
        transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);

        &:hover {
            color: white;
        }
    }

    .active-nav {
        background-color: $secondary-color;
    }
    
    .secondary-nav-button {
        position: relative;
            top: 60px;
    }
}

/* ---  Landscape Mobile --- */
@media (min-width: 576px) {

}

/* ---  Portait Tablets --- */
@media (min-width: 768px) {

}

/* ---  Landscape Tablets --- */
@media (min-width: 992px) {

}

/* ---  Small Laptops --- */
@media (min-width: 1200px) {

}

/* ---  Large Laptops --- */
@media (min-width: 1440px) {

}

/* --- Desktops --- */
@media (min-width: 2100px) {
    
}

