# Node
node_modules
package-lock.json

# Environment variables
.env

# Documentation
.gitignore
documentation

# Google
*.yaml
.gcloudignore

# Docker
.dockerignore
Dockerfile

# Misc.
.DS_Store
*.icloud