/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;
$text: #212529;

/* --- Portrait Mobile --- */

/* Team styles */
.team {
    background: #FAFAFA;
    position: relative;

    &-background {
        height: auto;
        margin: 0;
        opacity: 0.9;
        width: 100%;
        z-index: 0;
    }

    &-pitch {
        color: white;
        position: absolute;
            left: 5%;
            top: 20%;
        width: 100%;
        z-index: 1;

        h1 {
            font-size: 1.1rem;
            width: 90%;
        }

        &-links {
            position: absolute;
            left: 20%;

            a {
                font-size: .5rem;
                margin-left: 1rem;
            }
        }
    }

    .btn:not(form .btn) {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
    }
        
    .btn:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: white;
    } 
}

/* Roles styles */
.roles {
    .accordion {
        cursor: pointer;
        margin-bottom: 1rem;
    }

    &-title, &-title:hover, &-title:focus, &-title:active {
        color: $text;
        text-decoration: none;
    }

    .btn:not(form .btn) {
        background-color: $primary-color;
        border-color: $primary-color;
        color: white;
    }
        
    .btn:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
        color: white;
    } 
}

/* --- Landscape Mobile --- */
@media (min-width: 576px) {
    /* Team styles */
    .team {
        &-pitch {
            left: 10%;

            h1 {
                font-size: 1.75rem;
                left: 1%;
                width: 95%;
            }

            &-links {
                left: 15%;
                margin-top: 1rem;

                a {
                    font-size: 1rem;
                }
            }
        }
    }

    /* Roles styles */
    .roles {

    }
}

/* --- Portrait Tablets --- */
@media (min-width: 768px) {
    /* Team styles */
    .team {
        &-pitch {
            h1 {
                font-size: 2.5rem;
            }

            &-links {
                left: 18%;

                a {
                    font-size: 1.25rem;
                    margin-left: 2rem;
                }
            }
        }
    }

    /* Roles styles */
    .roles {

    }
}

/* --- Landscape Tablets --- */
@media (min-width: 992px) {
    /* Team styles */
    .team {
        &-pitch {
            h1 {
                font-size: 3.25rem;
            }

            &-links {
                a {
                    font-size: 1.75rem;
                }
            }
        }
    }

    /* Roles styles */
    .roles {

    }
}

/* ---  Small Laptops --- */
@media (min-width: 1200px) {
    /* Team styles */
    .team {
        &-pitch {
            h1 {
                font-size: 4rem;
            }

            &-links {
                left: 20%;

                a {
                    font-size: 2rem;
                }
            }
        }
    }

    /* Roles styles */

}

/* ---  Large Laptops --- */
@media (min-width: 1440px) {
    /* Team styles */


    /* Roles styles */

}

/* ---  Desktops --- */
@media (min-width: 2100px) {
    /* Team styles */


    /* Roles styles */
    
}


