body {
    color: white;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 10vw;
    margin: 0;
}

h2 {
    font-size: 7.5vw;
    margin: 0;
}

#background {
    height: 100%;
    object-fit: contain;
    opacity: 0.85;
    position: relative;
    width: 100%;
    z-index: 0;
}

#pitch {
    position: absolute;
        left: 20%;
        top: 15%;
    width: 95%;
}

.ring {
    display: inline-block;
    position: absolute;
        left: 0;
        top: 0;
    width: 64px;
    height: 64px;
}
.ring div {
    animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border: 6px solid #fff;
    border-color: #fff transparent transparent transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;
    height: 51px;
    margin: 6px;
    position: absolute;
    width: 51px;
  }
.ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
.ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
.ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 576px) {
    #pitch {
        left: 20%;
        top: 25%;
    }
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    #background {
        height: 100%;
        object-fit: cover;
        opacity: 0.85;
        position: relative;
        width: 100%;
        z-index: 0;
    }

    #pitch {
        left: 20%;
        top: 25%;
    }
}

@media (min-width: 1200px) {
    
}