// Colour palette
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

.contact-background {
    height: 500px;
    object-fit: cover;
    opacity: 0.65;
    position: relative;
    width: auto;
    z-index: 0;
}

textarea {
    margin-bottom: 1rem;
}

.contact-pitch {
    position: absolute;
        left: 5%;
        top: 20%;
    width: 80%;
}

.contact-pitch h3 {
    font-size: 1.5rem;
}

.contact-form {
    border-radius: 2%;
    padding: 1.5rem 1.5rem 2.25rem 1.5rem;
    position: absolute;
        left: 10%;
        top: 30%;
    width: 80%;
}

.contact-reset, .contact-submit {
    font-size: 0.65rem;
    margin: 1% 4% 0 0;
    padding: 4px 10px;
    position: absolute;
        bottom: 0.67rem;
}
  
.contact-reset {
    background-color: red;
    border-color: red;
    right: 7.5rem;
}
  
.contact-reset:hover {
    background-color: red;
    border-color: red;
}
  
.contact-submit {
    background-color: $primary-color;
    border-color: $primary-color;
    right: 1.5rem;
}

@media (min-width:576px) {
    textarea {
        margin-bottom: 1rem;
    }

    .contact-background {
        height: auto; 
        object-fit: contain;
        width: 100%;
    }

    .contact-pitch {
        font-size: 2rem;    
        left: 10%;
        top: 28%;
        width: 35%;
    }
    
    .contact-form {        
        left: 50%;
        top: 18%;
        width: 40%;
    }

    .contact-pitch h3 {
        font-size: 2.5rem;
    }
}

@media (min-width:768px) {
    .contact-pitch {
        left: 10%;
        top: 30%;
        width: 35%;
    }
    
    .contact-form {    
        left: 50%;
        top: 27%;
        width: 40%;
    }

    .contact-pitch h3 {
        font-size: 3rem;
    }

    .contact-reset, .contact-submit {
        font-size: 0.85rem;
    }

    .contact-reset {
        right: 9rem;
    }
    
    .contact-submit {
        right: 1.6rem;
    }
}

@media (min-width:992px) {
    .contact-pitch {    
        left: 15%;
        top: 43%;
        width: 28%;
    }

    .contact-form {    
        left: 50%;
        top: 38%;
    }
}

@media (min-width:1200px) {
    textarea {
        margin-bottom: 2rem;
    }

    .contact-pitch {
        left: 20%;
        top: 44%;
        width: 22%;
    }
    
    .contact-pitch h3 {
        font-size: 3.75rem;
    }

    .contact-reset, .contact-submit {
        font-size: 1rem;
        padding: 6px 12px;
    }

    .contact-reset {
        right: 10rem;
    }

    .contact-submit {
        right: 1.25rem;
    }
}

@media (min-width: 1440px) {

}

@media (min-width: 2100px) {

}