.contact-background {
    height: 500px;
    object-fit: cover;
    opacity: 0.65;
    position: relative;
    width: auto;
    z-index: 0;
}

textarea {
    margin-bottom: 2rem;
}

.contact-pitch {
    position: absolute;
        left: 10%;
        top: 20%;
    width: 95%;
}

.contact-pitch h3 {
    font-size: 1.5rem;
}

.contact-form {
    border-radius: 2%;
    padding: 2% 2% 4% 2%;
    position: absolute;
        left: 10%;
        top: 30%;
    width: 80%;
}

@media (min-width:576px) {
    textarea {
        margin-bottom: 1rem;
    }

    .contact-background {
        height: auto; 
        object-fit: contain;
        width: 100%;
    }

    .contact-pitch {
        font-size: 2rem;    
        left: 10%;
        top: 22%;
        width: 35%;
    }
    
    .contact-form {        
        left: 50%;
        top: 22%;
        width: 40%;
    }

    .contact-pitch h3 {
        font-size: 2.5rem;
    }
}

@media (min-width:768px) {
    .contact-pitch {
        left: 10%;
        top: 40%;
        width: 35%;
    }
    
    .contact-form {    
        left: 50%;
        top: 40%;
        width: 40%;
    }

    .contact-pitch h3 {
        font-size: 3rem;
    }
}

@media (min-width:992px) {
    .contact-pitch {    
        left: 15%;
        top: 40%;
        width: 28%;
    }
}

@media (min-width:1200px) {
    .contact-pitch {
        left: 20%;
        top: 40%;
        width: 22%;
    }
    
    .contact-pitch h3 {
        font-size: 3.75rem;
    }
}