#background {
    height: 500px;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
    width: auto;
    z-index: 0;
}

textarea {
    margin-bottom: 10%;
}

#pitch {
    position: absolute;
        left: 10%;
        top: 15%;
    width: 95%;
}

#pitch h3 {
    font-size: 1.5em;
}

.contact-form {
    border-radius: 2%;
    padding: 2% 2% 4% 2%;
    position: absolute;
        left: 10%;
        top: 30%;
    width: 80%;
}

.form-control {
    display: none;
}

.form-control-sm {
    display: block;
}

@media (min-width:576px) {
    #background {
        height: auto; 
        object-fit: contain;
        width: 100%;
    }

    #pitch {
        font-size: 2em;    
        left: 10%;
        top: 22%;
        width: 35%;
    }
    
    .contact-form {        
        left: 50%;
        top: 22%;
        width: 40%;
    }

    .form-control {
        display: block;
    }
    
    .form-control-sm {
        display: none;
    }
}

@media (min-width:768px) {
    #pitch {
        left: 10%;
        top: 40%;
        width: 35%;
    }
    
    .contact-form {    
        left: 50%;
        top: 40%;
        width: 40%;
    }
}

@media (min-width:992px) {
    #pitch {    
        left: 15%;
        top: 40%;
        width: 28%;
    }
}

@media (min-width:1200px) {
    #pitch {
        left: 20%;
        top: 40%;
        width: 22%;
    }
    
    #pitch h3 {
        font-size: 2em;
    }
}