// Colour Palette
$background: #FAFAFA;
$border-line: #E1E1E1;

.about-main {
    background: $background;
    border-bottom: $border-line 1px solid;
    border-top: $border-line 1px solid;
}

main h1, main div {
    margin: 0 1rem;
}

.mission p, .values p {
    margin: 0;
}

p {
    font-size: 1.1rem;
}

.team {
    display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 700px 425px;
        grid-gap: 0;
}

.headshot {
    height: auto;
    width: 100%;
}

.card {
    margin: 1rem auto;
    width: 85%;   
}

@media (min-width:576px) {
    .card {
        margin: 1rem auto;
        width: 66%;   
    }
}

@media (min-width:768px) {
    .team {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50px 615px;
    }

    .team h2 {
        grid-column-end: span 2;
    }
}

@media (min-width:992px) {
    .team {
        grid-template-rows: 50px 650px;
    }
    
    .team h2 {
        grid-column-end: span 3;
    }

    .card {
        width: 70%;   
    }
}

@media (min-width:1200px) {
    .team {
        grid-template-columns: 33% 33% 33%;
    }

    .card {
        width: 80%;   
    }
}

@media (min-width:1440px) {
    
}

@media (min-width:2100px) {
    
}