/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

#public {
    .about {
        /* --- Portrait Mobile --- */
        .card {
            width: 100%;  
            
            .headshot {
                height: auto;
                width: 100%;
            }

            > *:not(img) {
                margin: 1rem;
            }
        }

        /* --- Landscape Mobile --- */
        @media (min-width: 576px) {
            .card {
                width: 50%;   
            }
        }
        
        /* --- Portrait Tablets --- */
        @media (min-width: 768px) {
            .card {
                width: 100%;   
            }
        }

        /* --- Landscape Tablets --- */
        @media (min-width: 992px) {
            .card {
                width: 75%;   
            }
        }

        /* --- Small Laptops --- */
        // @media (min-width: 1200px) {

        // }

        /* --- Large Laptops --- */
        // @media (min-width: 1440px) {
            
        // }

        /* --- Desktops --- */
        // @media (min-width: 2100px) {
            
        // }
    }
}





