main {
    background: #FAFAFA;
}
  
h1, .panel, .job-panel{
  margin: 0 2%;
}

.background {
  height: auto;
  margin: 0;
  opacity: 0.9;
  width: 100%;
}

#pitch {
    color: white;
    position: relative;
    width: 100%;
    z-index: 0;
}

#pitch h1 {
    font-size: 1.5em;
    position: absolute;
        left: 2%;
        top: 30%;
    width: 90%;
}
  
.active:after {
  content: "\2796";
}
  
@media (min-width: 576px) {
  #pitch h1 {
    font-size: 2em;
    left: 1%;
    width: 95%;
  }
}

/* Tablets */
@media (min-width: 768px) {
  #pitch h1 {
    font-size: 2.5em;
  }
}

/* Desktops */
@media (min-width: 992px) {
  #pitch h1 {
    font-size: 3.5em;
    top: 40%;
  }
}

@media (min-width: 1200px) {
  #pitch h1 {
    font-size: 4em;
  }
}