/* This stylesheet uses mobile-first design */
main {
    position: relative;
}

#background {
    height: 500px;
    object-fit: cover;
    opacity: 0.8;
    position: relative;
    width: auto;
    z-index: 0;
}

#pitch {
    position: absolute;
    left: 5%;
    top: 9.5%;
    width: 90%;
}

#pitch h3 {
    font-size: 1.25em;
}

#pitch p {
    font-size: 0.89em;
}

.beta-form {
    border-radius: 2%;
    min-height: 250px;
    padding: 2% 2% 4% 2%;
    position: absolute;
        left: 10%;
        top: 40%;
    width: 85%;
}

.form-control {
    display: none;
}

.form-control-sm {
    display: block;
}


/* MEDIA QUERIES */

/* Landscape phones */
@media (min-width: 576px) {
    #pitch {
        left: 5%;
        top: 9.5%;
        width: 90%;
    }

    #pitch p {
        font-size: 1em;
    }
}

/* Tablets */
@media (min-width: 768px) {
    #background {
        height: auto;
        object-fit: contain;
        width: 100%;
    }
    #pitch {
        left: 15%;
        top: 25%;
        width: 30%;
    }
    
    small {
        font-size: 1.25vw;
    }

    .beta-form {
        left: 50%;
        top: 25%;
        width: 40%;
    }

    .form-control {
        display: block;
    }

    .form-control-sm {
        display: none;
    }
}

/* Desktops */
@media (min-width: 992px) {
    #pitch h3 {
        font-size: 1.75em;
    }

    #pitch p {
        font-size: 1.2em;
    }
}

@media (min-width: 1200px) {
    #pitch h3 {
        font-size: 2em;
    }

    #pitch p {
        font-size: 1.5em;
    }
}