/* --- List.css --- */
@import "../../../../variables.scss";

#app {
    .list {
        background-color: white;
        border-radius: 1rem;
        margin: 0.5rem;
        width: 75%;

        &:hover &:focus {
            border: $border-line-pop 1px solid;
        }
    }
    
    @media (min-width: 576px) {
    
    }
    
    @media (min-width: 768px) {
        
    }
    
    @media (min-width: 992px) {
        
    }
    
    @media (min-width: 1200px) {
        
    }
    
    @media (min-width: 1440px) {
        
    }
    
    @media (min-width: 2100px) {
        
    }
}