.dashboard-header {
    border-bottom: #E5E5E5 1px solid;
    // -moz-box-shadow:    3px 3px 5px 6px #E5E5E5;
    // -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    // box-shadow:         3px 3px 4px 1px #E5E5E5;
    height: 130px;
    z-index: 1;
}

.dashboard-header:nth-child(-n+2) {
    border-right: #F2F2F2 1px solid;
}

.dashboard-header h3 {
    margin-top: 5%;
}

.dashboard-header a {
    left: 5%;
    top: 50%;
}

.dashboard-header h4 {
    margin: 0;
}

figure {
    position: absolute;
        right: 0;
        top: 50%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
    .dashboard-header {
       height: 130px;
    }

    .dashboard-header a {
        left: 5%;
        top: 50%;
    }

    figure {
        bottom: 10%;
        right: 5%;
    }
}



