/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* ---  Portait Mobile --- */

/* Blog styles */
.blog {
    background: $background;
    border-bottom: $border-line 1px solid;
    border-top: $border-line 1px solid;

    h1, div {
        margin: 0 2%;
    }
    
        
    h1 {
      font-size: 2rem;
    }
    
    #pitch {
      font-size: 1rem;
      font-weight: 400;
      margin-bottom: 2.5%;
      width: 95%;
    }
    
    #posts {
      display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 425px /*400px 400px*/;
    }
}

/* Blog post styles */
.posts {

}

/* ---  Landscape Mobile --- */
@media (min-width: 576px) {
    /* Blog styles */
    .blog {
        #posts {
            grid-template-columns: 50% 50%;
                grid-template-rows: 475px /*475px*/;
        }
        
        footer {
            h3 {
                font-size: 2em;
            }
            
            h5 {
                font-size: 1.25em;
            }
        }
    }

    /* Blog post styles */
    .posts {
    
    }
}

/* ---  Portait Tablets --- */
@media (min-width: 768px) {
    /* Blog styles */
    .blog {
        #pitch {
            font-size: 1.25rem;
        }
                
        h1 {
            font-size: 2rem;
        }
    
        h2 {
            font-size: 1.75rem;
        }
    }

    /* Blog post styles */
    .posts {
    
    }
}

/* ---  Landscape Tablets --- */
@media (min-width: 992px) {
    /* Blog styles */
    .blog {
        #pitch {
            width: 58%;
        }

        #posts {
            display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 475px /*475px 475px*/;
                grid-gap: 5px;
        }
    }

    // /* Blog post styles */
    // .posts {
    
    // }
}

// /* ---  Small Laptops --- */
// @media (min-width: 1200px) {   
//     /* Blog styles */
//     .blog {
//         #posts {
//             // height: 1450px;
//         }   
//     }
    
//     /* Blog post styles */
//     .posts {
    
//     }
// }

/* ---  Large Laptops --- */
@media (min-width: 1440px) {
    /* Blog styles */
    .blog {
        min-height: 900px;

        h1 {
            font-size: 3.5rem;
        }

        #pitch {
            font-size: 2rem;
        }
    }
    
    // /* Blog post styles */
    // .posts {
    
    // }
}

/* ---  Desktops --- */
@media (min-width: 2100px) {
    /* Blog styles */
    .blog {
        min-height: 1200px;

        h1 {
            font-size: 5rem;
        }

        #pitch {
            font-size: 2.5rem;
        }
    }

    // /* Blog post styles */
    // .posts {
    
    // }
}
