/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* --- Portrait Mobile --- */
#public {
  .blog {
    .card {
      margin-bottom: 5%;
      min-height: 400px;
      width: 100%;

      > *:not(img) {
        margin-left: 2%;
      }
  
      .thumbnail {
        height: 250px;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  // /* --- Landscape Mobile --- */
  // @media (min-width: 576px) {
      
  // }

  // /* --- Portrait Tablets --- */
  // @media (min-width: 768px) {
    
  // }

  // /* --- Landscape Tablets --- */
  // @media (min-width: 992px) {
    
  // }

  /* --- Small Laptops --- */
  @media (min-width: 1200px) {
    .blog {
      .card {
        h2 {
          font-size: 2rem;
        }

        h4 {
          font-size: 1.5rem;
        }

        p {
          font-size: 1.25rem;
        }
      }
    }
  }

  /* --- Large Laptops --- */
  @media (min-width: 1440px) {
    .blog {
      .card {
        min-height: 625px;

        .thumbnail {
          height: 400px;
        }

        h2 {
          font-size: 2.5rem;
        }

        h4 {
          font-size: 1.75rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  /* --- Desktops --- */
  @media (min-width: 2100px) {
    .blog {
      .card {
        min-height: 800px;

        .thumbnail {
          height: 400px;
        }

        h2 {
          font-size: 3.5rem;
        }

        h4 {
          font-size: 3rem;
        }

        p {
          font-size: 2.25rem;
        }
      }
    }
  }
}