/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* --- Portrait Mobile --- */
#public {
  .blog {
    .card {
      margin-bottom: 5%;
      min-height: 400px;
      width: 100%;
  
      .thumbnail {
        height: 250px;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

/* --- Landscape Mobile --- */
@media (min-width: 576px) {
    
}

/* --- Portrait Tablets --- */
@media (min-width: 768px) {
    
}

/* --- Landscape Tablets --- */
@media (min-width: 992px) {
    
}

/* --- Small Laptops --- */
@media (min-width: 1200px) {
    
}

/* --- Large Laptops --- */
@media (min-width: 1440px) {
    
}

/* --- Desktops --- */
@media (min-width: 2100px) {
    
}