/* This stylesheet uses mobile first design */

$primary-color: #00A6FF;
$secondary-color: #0091FF;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

body {
  overflow-x: hidden;
}

a {
  color: $primary-color;
}

nav {
  font-size: 1.25em;
  position: relative;
}

#nav a {
  float: right;
  margin: 0;
  padding: 18px;
}

#nav a:hover {
  text-decoration: none;
}

#side-nav {
  border-right: $border-line 1px solid;
  float: left;
  height: 720px;
  margin-right: 2%;
  width: 20%;
}

#side-nav h3 {
  margin: 5%;
}

#side-nav a {
  display: block;
  font-size: 0.7em;
  margin: 5%;
}

#side-nav a:hover {
  text-decoration: none;
}

#logo {
  height: 40px;
  margin: 0.5%;
  width: 40px;
}

form {
  background-color: $form-background;
  z-index: 1;
}

.active-page {
  border-bottom: $primary-color solid 5px;
}

.form-reset {
  background-color: red;
  border-color: red;
  color: white;
  display: none;
  font-size: 0.75em;
  margin: 2% 4%;
  position: absolute;
      bottom: 1%;
      right: 31%;
}

.form-submit {
  background-color: $primary-color;
  border-color: $primary-color;
  color: white;
  font-size: 0.75em;
  margin: 2% 4%;
  position: absolute;
      bottom: 1%;
      right: 1%;
}


/* MEDIA QUERIES */

/* Landscape phones */
@media (min-width: 576px) {
  nav {
      font-size: 1.75em;
  }

  #logo {
      height: 60px;
      width: 60px;
  }

  form label:after{
      color: red;
      content: '*';
  }
}

/* Tablets */
@media (min-width: 768px) {

}

/* Desktops */
@media (min-width: 992px) {
  nav {
      font-size: 2em;
  }

  #logo {
      height: 75px;
      width: 75px;
  }

  .form-reset {
      display: block;
  }
}

@media (min-width:1200px) {
  .form-reset {
      font-size: 1em;
  }

  .form-submit {
      font-size: 1em;
  }
}