main {
  background: #FAFAFA;
}

h1, .panel, .job-panel{
  margin: 0 2%;
}

.background {
  height: auto;
  margin: 0;
  opacity: 0.9;
  width: 100%;
}

#pitch {
    color: white;
    position: relative;
    width: 100%;
    z-index: 0;
}

#pitch h1 {
    font-size: 1.5em;
    position: absolute;
        left: 2%;
        top: 30%;
    width: 90%;
}

.accordion {
  background-color: #eee;
  border: none;
  color: #444;
  cursor: pointer;
  padding: 18px;
  outline: none;
  text-align: left;    
  transition: 0.4s;
  width: 100%;
}
  
.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  color: #777;
  content: '\02795';
  font-size: 13px;
  float: right;
  margin-left: 5px;
}
  
.active:after {
  content: "\2796";
}
  
.job-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.job-panel .btn {
  background-color: #00BFFF;
  color: white;
  margin: 2%;
}

@media (min-width: 576px) {
  #pitch h1 {
    font-size: 2em;
    left: 1%;
    width: 95%;
  }
}

/* Tablets */
@media (min-width: 768px) {
  #pitch h1 {
    font-size: 2.5em;
  }
}

/* Desktops */
@media (min-width: 992px) {
  #pitch h1 {
    font-size: 3.5em;
    top: 40%;
  }
}

@media (min-width: 1200px) {
  #pitch h1 {
    font-size: 4em;
  }
}