/* --- App.css --- */
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background-color: #FAFAFA;
$form-background: #F9F9F9;
$border-line: #E1E1E1;
$text: #212529;

$nav-background: #313A46;
$nav-content: #8391A3;
$column-background: #FAFBFE;

/* --- Global styles --- */
html {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
} 

*, *:before, *:after {
	box-sizing: inherit;
} 

body {
	margin: 0;
  overflow-x: hidden;
}

/* --- App styles --- */
#app {
  background: white;
  overflow: hidden;

  a {
    color: $primary-color;
  }

  .btn-secondary {
    background-color: $primary-color;
  }
}