/* --- App.css --- */
@import "../variables.scss";

/* --- Global styles --- */
html {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
} 

*, *:before, *:after {
	box-sizing: inherit;
} 

body {
	margin: 0;
  overflow-x: hidden;
}

/* --- App styles --- */
#app {
  background: white;
  height: 100vh;
  overflow: hidden;

  a {
    color: $primary-color;

    &:hover, &:focus, &:active {
      color: $secondary-color;
    }
  }

  .btn-secondary {
    background-color: $primary-color;
    border-color: $primary-color;

    &:hover, &:focus, &:active {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}