.counter {
	color: #C3C5C9;
		right: 3%;
		top: 10%;
}

circle {
	fill: transparent;
	stroke: #C3C5C9;
}

.counter-index {
	position: absolute;
		left: 50%;
    	top: 40%; 
	transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

.counter-index h6:first-child {
	font-size: 2.75em;
}

.counter-type h6:first-child {
	font-size: 0.9em;
}

.counter-type {
	position: absolute;
		left: 50%;
    	top: 67%; 
	transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
}

@media (min-width: 576px) {

}

@media (min-width:768px) {
	
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}

