$border-line: #E1E1E1;

main {
    background-color: #FAFAFA;
    border-bottom: $border-line 1px solid;
    border-top: $border-line 1px solid;
}

main div, main h1 {
    margin: 0 2%;
}

#changelog {
    z-index: -2;
}

hr {
    width: 30%;
}