/* --- Planner.css --- */
@import "../../../../variables.scss";

#app {
    #planner {
        /* --- Portrait Mobile --- */
        background-color: $column-background;
        clear: right;
        height: 100%;
        
        #tasks, #assessments {
            border: $border-line 1px solid; // testing
            min-height: 550px;
            width: 80%;

            hr {
                width: 95%;
            }
        }

        .header { // subject to change
            margin: 1rem 0;
        }

        .body {
            width: 100%;
        }

        .active-select { // subject to change
            margin-top: 0.33rem;
        }

        .class-filter { // fill in

        }

        /* --- Landscape Mobile --- */
        @media (min-width: 576px) {
            
        };

        /* --- Portrait Tablets --- */
        @media (min-width: 768px) {
            
        }

        /* --- Landscape Tablets --- */
        @media (min-width: 992px) {
            
        }

        /* --- Small Laptops --- */
        @media (min-width: 1200px) {
            .header {
                margin: 1rem 0;

                > * {
                    position: relative;
                        left: 1rem;
                }
            }

            .list {
                position: relative;
                    left: 1rem;
            }

            .active-select {
                margin-top: 0.5rem;
            }

            .white-space {
                min-height: 59.33%;
            }

            .title {
                &-container {
                    padding-left: 0.4rem;
                }
            }
            
            .filter {
                padding: 0 1.25rem 0 0.4rem;

                &-container {
                    padding-left: 0;
                }
            }

            .toggle {
                padding-left: 0.4rem;

                &-container {
                    padding-left: 0;
                }
            }
        }

        /* --- Large Laptops --- */
        @media (min-width: 1440px) {

        }

        /* --- Desktops --- */
        @media (min-width: 2100px) {

        }
    }
}