/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* --- Portrait Mobile --- */
#public {
    nav {
        font-size: 2rem;
        position: relative;

        #logo {
            height: 5.5rem;
            width: 8.118rem;
        }
          
        .nav-links {
            float: right;
            margin: 1rem;
            padding: 0.375rem 0.75rem;
        }
          
        .nav-links > * {
            display: inline-block;
            margin-left: 1rem;
        }
          
        #nav a:hover {
            text-decoration: none;
        }
        
        .hamburger-menu {
            z-index: 2;
    
            a {
                display: block;
            }
        }
    }
}

/* --- Landscape Mobile --- */
@media (min-width: 576px) {
    #public {
        nav {

        }
    }
}

/* --- Portrait Tablets --- */
@media (min-width: 768px) {
    #public {
        nav {
            
        }
    }
}

/* --- Landscape Tablets --- */
@media (min-width: 992px) {
    #public {
        nav {
            
        }
    }
}

/* --- Small Laptops --- */
@media (min-width: 1200px) {
    #public {
        nav {
            
        }
    }
}

/* --- Large Laptops --- */
@media (min-width: 1440px) {
    #public {
        nav {
            
        }
    }
}

/* --- Desktops --- */
@media (min-width: 2100px) {
    #public {
        nav {
            font-size: 3rem;

            #logo {
                height: 7rem;
                width: 10.332rem;
            }
        }
    }
}
