/* --- Skeleton.css --- */
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background-color: #FAFAFA;
$form-background: #F9F9F9;
$border-line: #E1E1E1;
$text: #212529;

/* --- Portrait Mobile --- */


/* --- Landscape Mobile --- */
@media (min-width: 576px) {
    
};

/* --- Portrait Tablets --- */
@media (min-width: 768px) {
    
}

/* --- Landscape Tablets --- */
@media (min-width: 992px) {
    
}

/* --- Small Laptops --- */
@media (min-width: 1200px) {
	
}

/* --- Large Laptops --- */
@media (min-width: 1440px) {

}

/* --- Desktops --- */
@media (min-width: 2100px) {

}