nav {
    font-size: 2rem;
    position: relative;
}

#logo {
    height: 5.5rem;
    width: 5.5rem;
}
  
.nav-links {
    float: right;
    margin: 1rem;
    padding: 0.375rem 0.75rem;
}
  
.nav-links > * {
    display: inline-block;
    margin-left: 1rem;
}
  
#nav a:hover {
    text-decoration: none;
}

.hamburger-menu {
    z-index: 2
}

.hamburger-menu a {
    display: block;
}

/* Portrait Tablets */
@media (min-width: 576px) {

}

/* Landscape Tablets */
@media (min-width: 768px) {
       
}
  
  /* Lanscape Tablets */
@media (min-width: 992px) {
    
}

/* Small Laptops */
@media (min-width:1200px) {      
    
}

/* Laptops */
@media (min-width: 1440px) {

}

/* Desktops */
@media (min-width: 2100px) {
    nav {
        font-size: 3rem;
    }

    #logo {
        height: 7rem;
        width: 7rem;
    }
}