/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* --- Portrait Mobile --- */
.footer {
    margin: 2%;
    min-height: 130px;

    a {
        display: block;
    }

    &-internal {
        display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 25% 42% 38%;

        div:first-child {
            grid-column-end: span 3;
        }

        div:nth-child(4) {
            grid-column-start: 1;
        }
    }

    &-public {
        display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50%;
        margin: 1rem;
    }

    .copyright {
        // height: 50px;
        margin: 0 auto;
        
        p {
            font-size: 0.75rem;
            position: relative;
                top: 1%;
        }
    }

    .social {
        display: inline-block;
        font-size: 1.5em;
        margin-left: 5%;
    }
}
  
/* --- Landscape Mobile --- */
@media (min-width: 576px) {
    .footer {
        h3 {
            font-size: 2em;
        }

        h5 {
            font-size: 1.25em;
        }

        &-internal {
            font-size: 1.5vw;
            grid-template-columns: 48% 11% 15% 13% 13%;
            grid-template-rows: 100%;

            div:first-child {
                grid-column-end: span 1;
            }

            div:nth-child(4) {
                grid-column-start: 4;
            }
        }

        &-public {
            grid-column-start: 2;
            grid-template-columns: 0 70% 30%;
            grid-template-rows: 100%;
            font-size: 1.5vw;
        }

        .copyright {
            grid-column-start: 2;
        }
    }        
}

/* --- Portrait Tablets --- */
@media (min-width: 768px) {
    .footer {
        &-internal div:nth-child(n+4):nth-child(-n+5) {
            margin-top: 0;
        }

        &-public {
            grid-template-columns: 26% 40% 33%;
        }    
    }
}

/* --- Landscape Tablets --- */
@media (min-width: 992px) {  
    .footer {
        &-public {
            grid-template-columns: 26% 40% 33%;
        }

        .copyright {
            p {
                font-size: 0.9rem;
            }
        }
    }
}

/* --- Small Laptops --- */
@media (min-width:1200px) {  
    .footer {
        &-internal {
            grid-template-columns: 52% 10% 14% 12% 12%;
            grid-template-rows: 100%;
        }
    
        &-public {
            grid-column-start: 2;
            grid-template-columns: 25% 42% 33%;
        }

        .copyright {
            p {
                font-size: 1rem;
            }
        }
    }
}

/* --- Large Laptops --- */
@media (min-width: 1440px) {
    .footer {
        .copyright {
            p {
                font-size: 1.25rem;
            }
        }
    }
}

/* --- Desktops --- */
@media (min-width: 2100px) {
    .footer {
        .copyright {
            p {
                font-size: 2.25rem;
            }
        }
    }
}