/* --- Colour Palette --- */ 
$primary-color: #00A6FF;
$secondary-color: #0091FF;
$background: #FAFAFA;
$form-background: #F1F1F1;
$border-line: #E1E1E1;

/* ---  Portait Mobile --- */

/* Blog styles */
.blog {
    background: $background;
    border-bottom: $border-line 1px solid;
    border-top: $border-line 1px solid;   
    
    .banner {
        margin-top: 2rem;
        text-align: center;
    }
        
    h1 {
      font-size: 2rem;
    }
    
    #pitch {
      font-size: 1rem;
      font-weight: 400;
      margin: 0 auto;
    //   margin-bottom: 2.5%;
      width: 95%;
    }
    
    &-posts {
        display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 425px /*400px 400px*/;
        margin: 0 5%;
    }
}

/* Blog post styles */
.posts {
    border-bottom: $border-line 1px solid;
    border-top: $border-line 1px solid;

    hr {
        width: 67%;
    }
}

/* ---  Landscape Mobile --- */
@media (min-width: 576px) {
    /* Blog styles */
    .blog {
        &-posts {
            grid-template-columns: 50% 50%;
                grid-template-rows: 475px /*475px*/;
        }
        
        footer {
            h3 {
                font-size: 2em;
            }
            
            h5 {
                font-size: 1.25em;
            }
        }
    }

    /* Blog post styles */
    .posts {
        
    }
}

/* ---  Portait Tablets --- */
@media (min-width: 768px) {
    /* Blog styles */
    .blog {
        .banner {
            margin-bottom: 1rem;
            margin-top: 2.5rem;
        }
        
        #pitch {
            font-size: 1.25rem;
        }
                
        h1 {
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    
        h2 {
            font-size: 1.75rem;
        }
    }

    /* Blog post styles */
    &-posts {
       
    }
}

/* ---  Landscape Tablets --- */
@media (min-width: 992px) {
    /* Blog styles */
    .blog {
        #pitch {
            // width: 58%;
        }

        &-posts {
            display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 475px /*475px 475px*/;
                grid-gap: 5px;
        }
    }

    // /* Blog post styles */
    // &-posts {
    
    // }
}

// /* ---  Small Laptops --- */
@media (min-width: 1200px) {   
//     /* Blog styles */
    .blog {

        h1 {
            font-size: 2.5rem;
        }
//         &-posts {
//             // height: 1450px;
//         }   
    }
    
//     /* Blog post styles */
//     &-posts {
    
//     }
}

/* ---  Large Laptops --- */
@media (min-width: 1440px) {
    /* Blog styles */
    .blog {
        min-height: 900px;

        h1 {
            font-size: 3.5rem;
        }

        #pitch {
            font-size: 1.75rem;
        }
    }
    
    // /* Blog post styles */
    .posts {

        header {
            margin: 3rem;

            .blog-header {
                color: $primary-color;
            }

            h1, h2 { 
                text-align: center;
            }   

            .banner {
                width: 100%;
                z-index: 0;
            }
        }

        article {
            // background-color: $background;
            font-size: 1.5rem;
            margin: 12rem;

            section {
                margin-bottom: 4rem;
            }
            // position: relative;
            //     bottom: 300px;

            h3 {
                margin: 1rem auto 0.5rem auto;
            }
        }
    }
}

/* ---  Desktops --- */
@media (min-width: 2100px) {
    /* Blog styles */
    .blog {
        min-height: 1150px;

        h1 {
            font-size: 5rem;
        }

        #pitch {
            font-size: 2.5rem;
        }
    }

    // /* Blog post styles */
    .posts {
        article {
            font-size: 2rem;
        }
    }
}
