/* --- AppNav.css --- */ 
@import "../../../../variables.scss";

#app {
    #app-nav {
        /* ---  Portait Mobile --- */
        // background-color: $nav-background;
        border-right: $border-line 1px solid;
        float: left;
        height: 100%;
        text-align: center;
        width: 6.25rem;
        // z-index: 3;

        &:hover {
            -webkit-box-shadow: 1px 0px 5px 0px rgba(225, 225, 225, 0.75);
            -moz-box-shadow: 1px 0px 5px 0px rgba(225, 225, 225, 0.75);
            box-shadow: 1px 0px 5px 0px rgba(225, 225, 225, 0.75);
            transition: box-shadow 0.25s ease-in-out;
        }

        .logo {
            float: left;
            height: 6.25rem;
            width: 6.25rem;
        }

        .btn {
            display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 5% 5% 5% 5% 5%;
            font-size: 2em;
            height: 2.5rem;
            margin: 1.75rem;
            width: 2.5rem;
        }
    
        .btn-secondary { 
            background-color: transparent;
            border-color: transparent;
        }
        
        a {
            position: relative; 
        }
    
        svg {
            align-content: center;
            color: $nav-content;
            position: absolute;
                left: 50%;
                top: 50%; 
            transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
    
            &:hover {
                color: $nav-content-pop;
            }
        }
    
        .active-link svg {
            color: $primary-color;

            &:hover {
                color: $secondary-color;
            }
        }
    }


    /* ---  Landscape Mobile --- */
    @media (min-width: 576px) {

    }

    /* ---  Portait Tablets --- */
    @media (min-width: 768px) {

    }

    /* ---  Landscape Tablets --- */
    @media (min-width: 992px) {

    }

    /* ---  Small Laptops --- */
    @media (min-width: 1200px) {

    }

    /* ---  Large Laptops --- */
    @media (min-width: 1440px) {

    }

    /* --- Desktops --- */
    @media (min-width: 2100px) {
        
    }
}

