/* This stylesheet uses mobile first design */

body {
    overflow-x: hidden;
}

a {
    color: #00BBFF;
}

nav {
    font-size: 1.25em;
    position: relative;
}

#nav a {
    float: right;
    margin: 0;
    padding: 18px;
}

#nav a:hover {
    text-decoration: none;
}

#side-nav {
    border-right: #E1E1E1 1px solid;
    float: left;
    height: 720px;
    margin-right: 2%;
    width: 20%;
}

#side-nav h3 {
    margin: 5%;
}

#side-nav a {
    display: block;
    font-size: 0.7em;
    margin: 5%;
}

#side-nav a:hover {
    text-decoration: none;
}

#logo {
    height: 40px;
    margin: 0.5%;
    width: 40px;
}

form {
    background-color: #F1F1F1;
    z-index: 1;
}

.active-page {
    border-bottom: #00BBFF solid 5px;
}

.form-reset {
    background-color: red;
    color: white;
    display: none;
    font-size: 0.75em;
    margin: 2% 4%;
    position: absolute;
        bottom: 1%;
        right: 37%;
}

.form-submit {
    background-color: #00BBFF;
    color: white;
    font-size: 0.75em;
    margin: 2% 4%;
    position: absolute;
        bottom: 1%;
        right: 1%;
}

footer {
    margin: 2%;
    min-height: 130px;
}

footer a {
    display: block;
}

#footer-internal {
    display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 42% 33%;
}

#footer-internal div:first-child {
    grid-column-end: span 3;
}

#footer-internal div:nth-child(4) {
    grid-column-start: 1;
}

#footer-public {
    display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
}

#copyright {
    font-size: 0.75em;
    position: relative;
        top: 8px;
}

.social {
    display: inline-block;
    font-size: 1.5em;
    margin-left: 5%;
}

/* MEDIA QUERIES */

/* Landscape phones */
@media (min-width: 576px) {
    nav {
        font-size: 1.75em;
    }

    #logo {
        height: 60px;
        width: 60px;
    }

    footer h3 {
        font-size: 2em;
    }

    footer h5 {
        font-size: 1.25em;
    }

    #footer-internal {
        font-size: 1.5vw;
        grid-template-columns: 48% 11% 15% 13% 13%;
        grid-template-rows: 100%;
    }

    form label:after{
        color: red;
        content: '*';
    }

    #footer-internal div:first-child {
        grid-column-end: span 1;
    }
    
    #footer-internal div:nth-child(4) {
        grid-column-start: 4;
    }
    
    #footer-public {
        grid-column-start: 2;
        grid-template-columns: 0 70% 30%;
        grid-template-rows: 100%;
        font-size: 1.5vw;
    }
    
    #copyright {
        grid-column-start: 2;
        font-size: 1em;
    }
}

/* Tablets */
@media (min-width: 768px) {
    #footer-internal div:nth-child(n+4):nth-child(-n+5) {
        margin-top: 0;
    }

    #footer-public {
        grid-template-columns: 26% 40% 33%;
    }    
}

/* Desktops */
@media (min-width: 992px) {
    nav {
        font-size: 2em;
    }

    #logo {
        height: 75px;
        width: 75px;
    }

    .form-reset {
        display: block;
    }

    #footer-public {
        grid-template-columns: 26% 40% 33%;
    }
}

@media (min-width:1200px) {

    .form-reset {
        font-size: 1em;
    }

    .form-submit {
        font-size: 1em;
    }
        
    #footer-internal {
        grid-template-columns: 52% 10% 14% 12% 12%;
        grid-template-rows: 100%;
    }
    
    #footer-public {
        grid-column-start: 2;
        grid-template-columns: 25% 42% 33%;
    }
}