/* --- DashboardHeader.css --- */
@import "../../../../variables.scss";

#app {
    .dashboard-header {
        /* --- Portrait Mobile --- */
        border-bottom: $light-border-line 1px solid;
        // -moz-box-shadow:    3px 3px 5px 6px $light-border-line;
        // -webkit-box-shadow: 3px 3px 5px 6px #CCC;
        // box-shadow:         3px 3px 4px 1px $light-border-line;
        height: 130px;
        z-index: 1;

        a {
            left: 5%;
            top: 50%;
        }

        h3 {
            margin-top: 5%;
        }

        h4 {
            margin: 0;
        }

        &:nth-child(-n+2) {
            border-right: #F2F2F2 1px solid;
        }

        /* --- Landscape Mobile --- */
        @media (min-width: 576px) {

        };

        /* --- Portrait Tablets --- */
        @media (min-width: 768px) {

        }

        /* --- Landscape Tablets --- */
        @media (min-width: 992px) {

        }

        /* --- Small Laptops --- */
        @media (min-width: 1200px) {
            min-height: 150px;
        
            // a {
            //     left: 5%;
            //     top: 50%;
            // }
        
            // figure {
            //     bottom: 10%;
            //     right: 5%;
            // }
        }

        /* --- Large Laptops --- */
        @media (min-width: 1440px) {

        }

        /* --- Desktops --- */
        @media (min-width: 2100px) {

        }
    }
}