// colors
$border-line: #E1E1E1;

h2 {
    margin-bottom: 1%;
    margin-left: 2%;
}

.application h4 {
    margin-left: 2%;
}

.application label {
    margin-left: 2%;
}

.application input {
    margin-left: 2%;
    width: 90%;
}

.application textarea {
    margin-left: 1%;
    width: 95%;
}

.application button {
    margin-bottom: 2%;
    margin-left: 5%;
    width: 90%;
}

.application small {
    margin-left: 2%;
}

.required::after {
    color: red;
    content: "*";
}

.warning {
    color: red;
}