/* --- Counter.css --- */
@import "../../../../variables.scss";

#app {
	circle {
		fill: transparent;
		stroke: #C3C5C9;
	}

	.counter {
		color: #C3C5C9;
		position: absolute;
			right: 5%;
			top: 10%;
	}

	.counter-index {
		position: absolute;
			left: 50%;
			top: 40%; 
		transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);

		h6:first-child {
			font-size: 2.75em;
		}
	}

	.counter-type {
		position: absolute;
			left: 50%;
			top: 67%; 
		transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);

		h6:first-child {
			font-size: 0.8em;
		}
	}
}